discord/
spotify/
BetterDiscord/
BlueMail/ 
Code/
Debauchee/
Electron/
GIMP/
Kvantum/
Mailspring/
Proton/
SerenityOS/
Thunar/
ardour8/
autostart/
btop/
cava/
dconf/
discord/
draw.io/
electronplayer/
espflash/
gh/
google-chrome/
inkscape/
libreoffice/
qutebrowser/
protonvpn/
spotify-player/
systemd/
